/* 
https://stackoverflow.com/a/39164739
@import url('//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css');
@import url('//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css'); 
*/

/* owl-centered === customers */

.customers .owl-wrapper {
  display: table !important;
}
.customers .owl-item {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.customers .owl-item > div {
  text-align: center;
} 

/* .owl-wrapper {
  display: table !important;
}
.customers .owl-item {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.customers .owl-item > div {
  text-align: center;
}
*/

.wrap-right {
    float: right; 
    margin: 5px;
}

.wrap-left {
  float: left; 
  margin: 5px;
}

figure img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
